USE [EnjoyGameDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 26.03.2018 01:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AdminSessions]    Script Date: 26.03.2018 01:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminSessions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](max) NULL,
	[password] [nvarchar](max) NULL,
	[adminName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AdminSessions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AltKategoris]    Script Date: 26.03.2018 01:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AltKategoris](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[altkategoriAd] [nvarchar](50) NOT NULL,
	[kategoriID] [int] NULL,
	[aciklama] [nvarchar](max) NULL,
	[silindi] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.AltKategoris] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kategori]    Script Date: 26.03.2018 01:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategori](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAd] [nvarchar](50) NOT NULL,
	[acıklama] [nvarchar](max) NULL,
	[Silindi] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Kategori] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kullanıcılar]    Script Date: 26.03.2018 01:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanıcılar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Surname] [nvarchar](max) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[ConfirmPassword] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Kullanıcılar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SatisDetaylar]    Script Date: 26.03.2018 01:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SatisDetaylar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[satisID] [int] NOT NULL,
	[urunID] [int] NOT NULL,
	[adet] [int] NOT NULL,
	[birimFiyat] [decimal](18, 2) NOT NULL,
	[tutar] [decimal](18, 2) NOT NULL,
	[silindi] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SatisDetaylar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Satislar]    Script Date: 26.03.2018 01:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Satislar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[tarih] [datetime] NOT NULL,
	[kullaniciID] [int] NOT NULL,
	[toplamMiktar] [int] NOT NULL,
	[toplamTutar] [decimal](18, 2) NOT NULL,
	[teslimTarihi] [datetime] NOT NULL,
	[durumu] [tinyint] NOT NULL,
	[silindi] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Satislar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 26.03.2018 01:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[urunkodu] [nvarchar](20) NOT NULL,
	[urunAd] [nvarchar](50) NOT NULL,
	[kategoriID] [int] NULL,
	[altkategoriID] [int] NOT NULL,
	[miktar] [int] NOT NULL,
	[urunFiyat] [decimal](18, 2) NOT NULL,
	[urunBilgisi] [nvarchar](max) NULL,
	[urunResimYolu1] [nvarchar](100) NULL,
	[urunResimYolu2] [nvarchar](100) NULL,
	[indirim] [bit] NOT NULL,
	[indirimOrani] [int] NOT NULL,
	[silindi] [bit] NOT NULL,
	[AltBilgisi] [nvarchar](max) NULL,
	[urunResimYolu3] [nvarchar](100) NULL,
	[urunKapakResim] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.Urunler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AdminSessions] ON 

INSERT [dbo].[AdminSessions] ([ID], [email], [password], [adminName]) VALUES (1, N'yunus@gmail.com', N'123456', N'Tuna TAK')
SET IDENTITY_INSERT [dbo].[AdminSessions] OFF
SET IDENTITY_INSERT [dbo].[AltKategoris] ON 

INSERT [dbo].[AltKategoris] ([ID], [altkategoriAd], [kategoriID], [aciklama], [silindi]) VALUES (3, N'Bol Aksiyon', 2, N'aksiyon', 0)
SET IDENTITY_INSERT [dbo].[AltKategoris] OFF
SET IDENTITY_INSERT [dbo].[Kategori] ON 

INSERT [dbo].[Kategori] ([ID], [KategoriAd], [acıklama], [Silindi]) VALUES (2, N'Aksiyon', N'Eğlence ,Aksiyon', 0)
INSERT [dbo].[Kategori] ([ID], [KategoriAd], [acıklama], [Silindi]) VALUES (3, N'Macera', N'Macera', 0)
INSERT [dbo].[Kategori] ([ID], [KategoriAd], [acıklama], [Silindi]) VALUES (4, N'RYO', N'RYO', 0)
SET IDENTITY_INSERT [dbo].[Kategori] OFF
SET IDENTITY_INSERT [dbo].[Urunler] ON 

SET IDENTITY_INSERT [dbo].[Urunler] OFF
ALTER TABLE [dbo].[Kullanıcılar] ADD  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[Kullanıcılar] ADD  DEFAULT ('') FOR [Surname]
GO
ALTER TABLE [dbo].[Kullanıcılar] ADD  DEFAULT ('') FOR [Username]
GO
ALTER TABLE [dbo].[Kullanıcılar] ADD  DEFAULT ('') FOR [Password]
GO
ALTER TABLE [dbo].[Kullanıcılar] ADD  DEFAULT ('') FOR [ConfirmPassword]
GO
ALTER TABLE [dbo].[AltKategoris]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AltKategoris_dbo.Kategori_kategoriID] FOREIGN KEY([kategoriID])
REFERENCES [dbo].[Kategori] ([ID])
GO
ALTER TABLE [dbo].[AltKategoris] CHECK CONSTRAINT [FK_dbo.AltKategoris_dbo.Kategori_kategoriID]
GO
ALTER TABLE [dbo].[SatisDetaylar]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SatisDetaylar_dbo.Satislar_satisID] FOREIGN KEY([satisID])
REFERENCES [dbo].[Satislar] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SatisDetaylar] CHECK CONSTRAINT [FK_dbo.SatisDetaylar_dbo.Satislar_satisID]
GO
ALTER TABLE [dbo].[SatisDetaylar]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SatisDetaylar_dbo.Urunler_urunID] FOREIGN KEY([urunID])
REFERENCES [dbo].[Urunler] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SatisDetaylar] CHECK CONSTRAINT [FK_dbo.SatisDetaylar_dbo.Urunler_urunID]
GO
ALTER TABLE [dbo].[Satislar]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Satislar_dbo.Kullanıcılar_kullaniciID] FOREIGN KEY([kullaniciID])
REFERENCES [dbo].[Kullanıcılar] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Satislar] CHECK CONSTRAINT [FK_dbo.Satislar_dbo.Kullanıcılar_kullaniciID]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Urunler_dbo.Kategori_kategoriID] FOREIGN KEY([kategoriID])
REFERENCES [dbo].[Kategori] ([ID])
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [FK_dbo.Urunler_dbo.Kategori_kategoriID]
GO
